body{
  background-color: black;
}
.border{
  /* border: 2px solid rgb(255, 255, 255); */
  padding: 100px;
  width: 70vw;
  margin: auto;
  margin-top: 15vh;
  border-radius: 500px;
  background-color: white;
  box-shadow: inset 20px 20px 10px gray;
}
.bigg{
  /* border: 2px solid black; */
  width: 59vw;
  height: 20vh;
  border-radius: 250px;
  margin: auto;
  padding: 15px;
  box-shadow: 15px 15px 10px gray;
}
.bigbox{
  width: 59vw;
  height: 20vh;
  margin: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
  border-radius: 250px;
  box-shadow: inset 15px 15px 10px gray;
  color: white;
}
.box{
  height: 15vh;
  width: 15vh;
  box-shadow: inset 15px 15px 10px gray, 15px 15px 10px gray;
  margin: 2.887vh;
  display: flex;
  font-size: 5vw;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-sizing:border-box;
  background-color: black;
  text-shadow: 4px 4px 1px gray;
}
.box:hover{
  font-size: 6vw;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 500;
  transition: 0.3s;
}
.btns{
  display: flex;
  width: 56vw;
  margin: auto;
  justify-content: space-between;
  margin-top: 5lvh;
}
.btns button{
  height: 50px;
  width: 100px;
  border-radius: 30px;
  font-size: 25px;
  box-shadow: inset 15px 15px 10px gray, 15px 15px 10px gray;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  text-shadow: 3px 3px 1px gray;
}
.btns button:hover{
  height: 50px;
  width: 100px;
  border-radius: 30px;
  font-size: 25px;
  box-shadow: inset 15px 15px 5px gray, 15px 15px 5px gray;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
